/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* global */
body {
  min-width: 320px;
  font-family: "Lato", "sans-serif";
  font-weight: 400;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  padding-inline: 30px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    padding-inline: 16px;
  }
}

main {
  overflow: hidden;
}

.visually-hidden {
  display: none;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* header */
.header {
  padding: 20px 0;
  background-color: #222222;
  position: relative;
  overflow: hidden;
}
.header--active {
  overflow: visible;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
}

.header__menu {
  max-width: 232px;
  padding: 32px;
  background-color: #fff;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.2117647059);
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: absolute;
  top: 78px;
  right: 0;
  transform: translateX(150%);
  z-index: 3;
  transition: transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  height: 0;
}
.header__menu--active {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  height: unset;
}

.header__menu-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  text-align: left;
}

.header__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}

.header__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__menu-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: #f16d7f;
}

.header__sublist {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 0;
  padding-left: 21px;
}

.header__subitem {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: #6f6e6e;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.header__subitem:hover {
  color: #f16d7f;
}

@media (max-width: 640px) {
  .header__btn:nth-last-child(-n+2) {
    display: none;
  }
}
/* subscribe */
.subscribe {
  position: relative;
  padding-top: 97px;
  padding-bottom: 126px;
  background-image: url("../img/subscribe/subscribe.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.subscribe::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(244, 244, 244, 0.6980392157);
}

.subscribe__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 1;
}
@media (max-width: 768px) {
  .subscribe__container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}

.subscribe__left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.subscribe__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #222224;
  max-width: 360px;
}

.subscribe__right {
  display: flex;
  flex-direction: column;
}

.subscribe__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.subscribe__info {
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 460px) {
  .subscribe__info {
    width: 100%;
  }
}

.subscribe__form {
  display: flex;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
  width: 356px;
  height: 49px;
}
@media (max-width: 460px) {
  .subscribe__form {
    font-size: 14px;
  }
}

.subscribe__input {
  padding-left: 22px;
  padding-block: 7px;
  display: flex;
  height: 100%;
  background-color: #e1e1e1;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  border: none;
  outline: none;
  flex: 1;
}

.subscribe__btn {
  display: flex;
  justify-content: center;
  border: 1px solid #f16d7f;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100px;
  height: 100%;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: #f16d7f;
  color: #fff;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.subscribe__btn:hover {
  background-color: transparent;
  color: #f16d7f;
}

/* footer */
.footer {
  padding-block: 24px;
  background-color: #222224;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 460px) {
  .footer__container {
    flex-direction: column-reverse;
    gap: 40px;
  }
}

.footer__text {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #fbfbfb;
}

.footer__socials {
  display: flex;
  gap: 7px;
  align-items: center;
}

.footer__svg-black {
  fill: #000;
  transition: fill 0.3s ease-in-out;
}

.footer__svg-white {
  fill: #fff;
  transition: fill 0.3s ease-in-out;
}

.footer__link:hover .footer__svg-black {
  fill: #fff;
}
.footer__link:hover .footer__svg-white {
  fill: #f16d7f;
}

.top {
  background: #F8F3F4;
}

.top__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 60px;
}
@media (max-width: 480px) {
  .top__container {
    flex-direction: column;
    gap: 32px;
  }
}

.top__title {
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #F16D7F;
}

.top__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 16.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #636363;
}
.top__text > span {
  font-weight: 700;
  color: #F16D7F;
}

.regiter {
  padding-top: 64px;
  padding-bottom: 96px;
}
@media (max-width: 640px) {
  .regiter {
    padding-top: 40px;
  }
}

.register__container {
  display: grid;
  grid-template-columns: 360px 1fr;
  grid-template-rows: 1fr;
  gap: 22px;
}
@media (max-width: 640px) {
  .register__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.register__form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.register__form {
  display: flex;
  flex-direction: column;
  gap: 33px;
  width: 100%;
}

.register__label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register__decription {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  color: #222222;
}

.register__input {
  padding: 13px 17px 16px;
  border: 1px solid #A4A4A4;
  outline: none;
  cursor: pointer;
}
.register__input::placeholder {
  color: #A4A4A4;
}
.register__input:hover {
  border-color: #F16D7F;
}
.register__input:focus {
  border-color: #F16D7F;
}
.register__input:focus::placeholder {
  color: transparent;
}

.register__radio-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.register__radio-label {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.1;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.register__attention {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #B1B1B1;
}

.register__btn {
  display: flex;
  justify-content: center;
  border: 1px solid #f16d7f;
  padding: 16px 29px;
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: flex-start;
  height: 100%;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: #f16d7f;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.register__btn > svg {
  fill: #fff;
  transition: fill 0.3s ease-in-out;
}
.register__btn:hover {
  background-color: transparent;
  color: #f16d7f;
}
.register__btn:hover > svg {
  fill: #f16d7f;
}

.register__info {
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  max-width: 752px;
  align-content: center;
}
@media (max-width: 1100px) {
  .register__info {
    padding-left: 0;
  }
}

.register__title {
  margin-bottom: 22px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media (max-width: 800px) {
  .register__title {
    font-size: 16px;
  }
}

.register__text {
  margin-bottom: 21px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media (max-width: 800px) {
  .register__text {
    font-size: 16px;
  }
}

.register__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.register__item {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: baseline;
  gap: 15px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media (max-width: 800px) {
  .register__item {
    font-size: 16px;
  }
}

/*# sourceMappingURL=registration.css.map */
